<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DataBaseConfigurationSection" type="ADO.Infrastructure.DataBaseConfiguration, ADO.Infrastructure"/>
		</configSections>

	<DataBaseConfigurationSection
		connectionString="data source=DESKTOP-3BA0QHV;database=ProjectStudent;integrated security=SSPI;"/>
</configuration>