<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name ="DatabaseConfigurationSection" type ="Infrastructure.DataBaseConfiguration, Infrastructure"/>
		</configSections>
	<DatabaseConfigurationSection
		connectionString ="data source=DESKTOP-3BA0QHV; database = EF_API_GenericRepository_LibraryDb; integrated security = SSPI; trust server certificate = true"/>
	</configuration>