<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DataBaseConfigurationSection" type="Infrastructure.DatabaseConfiguration, Infrastructure"/>
	</configSections>

	<DataBaseConfigurationSection
		connectionString="data source=DESKTOP-3BA0QHV; database=LibraryDB_API_EF_2; integrated security=SSPI; Trust Server Certificate=true"/>

</configuration>





