<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DataBaseConfigurationSection" type="Library_Infrastructure.DatabaseConfiguration, Library_Infrastructure"/>
		</configSections>

	<DataBaseConfigurationSection
		connectionString="data source=DESKTOP-3BA0QHV; database=LibraryDb; integrated security=SSPI;Trust Server Certificate=True"/>

</configuration>
